@tailwind base;
@tailwind components;
@tailwind utilities;




html {


  --primary-color: #1C5E60;
  --primary-text-color: #444444;
  --text-headers: #1C5E60;
  --text-controls: #1C5E60;
  --text-headers-dark: #161616;
  --input: rgba(205, 205, 205, 0.38);
  --input-placeholder: #8A8A8A;
  --disabled: #90c5c877;
  --error: #EF4444;
  --action: #90c5c8;
  --text-grey: #f9f9f9;
  --action-shadow: rgba(0, 93, 98, 0.4);
  --black: #f7f7f7;

  

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 62.5rem white inset !important;;
  -webkit-text-fill-color: var(--primary-text-color);
  caret-color: var(--primary-text-color);
}
